{% extends "layout.html"%}
{% block title %}
Divakar Packers and Movers | Household shifting service
{% endblock %}
{% block content %}
<div class="row">
  <div class="col col-md-8">
    <div class="container-fluid">
      <h2 class="text-center">Household shifting services</h2>
      <p>
        At Divakar Packers and Movers, we specialize in making your domestic relocation a hassle-free experience.
        Whether you're moving to a new city, state, or even across the country, our "Household Shifting Services" are
        designed to cater to your unique needs and ensure a smooth transition to your new home.
      </p>
      <h4 class="fw-bold mt-3 mb-1">Our Comprehensive Services:</h4>
      <p>
        <span class="fs-6 fw-bold">Packing:</span> Our expert team uses high-quality packing materials to ensure the
        safety of your belongings during transit. We carefully pack, transport, so you can focus on settling in.
      </p>
      <p>
        <span class="fs-6 fw-bold">Loading & Unloading:</span> Heavy lifting is our expertise. We handle the loading and
        unloading of your goods with utmost care and precision, minimizing the risk of damage.
      </p>
      <p>
        <span class="fs-6 fw-bold">Transportation:</span> We offer a fleet of well-maintained vehicles equipped to
        transport your belongings securely. No matter the distance, our vehicles are designed for the safe transit of
        your items.
      </p>
      <p>
        <span class="fs-6 fw-bold">Pre-Moving Survey:</span> We begin with a thorough pre-moving survey to create a
        customized moving plan that takes into account your specific requirements and preferences.
      </p>
      <p>
        <span class="fs-6 fw-bold">Office Shifting:</span> For businesses, we offer seamless office shifting services to
        ensure minimal disruption to your operations during the relocation.
      </p>
      <h4 class="fw-bold mt-3 mb-1">Why Choose Divakar Packers and Movers:</h4>
      <p>
        <span class="fs-6 fw-bold">Experience:</span> With years of experience in the industry, we have perfected our
        moving solutions to provide you with efficient and reliable services.
      </p>
      <p>
        <span class="fs-6 fw-bold">Professional Team:</span> Our skilled team is trained to handle your belongings with
        care and professionalism, ensuring they reach your new home in the best condition.
      </p>
      <p>
        <span class="fs-6 fw-bold">Customized Solutions:</span> We offer a range of solutions to meet your specific
        needs and budget.: We understand that every move is unique. Our tailored moving plans cater to your specific
        needs, providing flexibility and cost-effectiveness.
      </p>
      <p>
        <span class="fs-6 fw-bold">Competitive Pricing:</span> We offer competitive pricing without compromising on the
        quality of our services.
      </p>
      <p>
        <span class="fs-6 fw-bold">Customer Satisfaction:</span> Your satisfaction is our top priority. We work
        tirelessly to make your domestic shift as smooth as possible.
      </p>
      <p>
        With Divakar Packers and Movers, your household move becomes a journey of ease and convenience. Leave the
        logistics and heavy lifting to us, and focus on settling into your new home. We're dedicated to ensuring that
        your domestic relocation is a successful and stress-free experience.
      </p>
      <p>For inquiries or to schedule your household shift, reach out to us today.</p>
    </div>
  </div>
  <div class="d-block d-md-block col-md-4">
    <section class="container-fluid">
      <p class="text-center fs-3 mb-2">Request Quote</p>
      <form class="border border-1 p-2" action="submit-quote" method="post">
        <div class="mb-1">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-1">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-1">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-1">
          <label for="moving_date" class="form-label">Moving Date</label>
          <input type="date" class="form-control" id="moving_date" name="moving_date">
        </div>
        <div class="mb-1">
          <label for="from_address" class="form-label">From Address</label>
          <input type="text" class="form-control" id="from_address" name="from_address">
        </div>
        <div class="mb-1">
          <label for="to_address" class="form-label">To address</label>
          <input type="text" class="form-control" id="to_address" name="to_address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if errors %}
      <div class="error">
        <ul class="list-group-item list-group-item-danger">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}