{% extends "layout.html"%}
{% block title %}
Divakar Packers and Movers | Loading & Unloading Service
{% endblock %}
{% block content %}
<div class="row">
  <div class="col col-md-8">
    <div class="container-fluid">
      <h2 class="text-center">Loading & Unloading Services</h2>
      <p>
        At Divakar Packers and Movers, we understand that the loading and unloading phases of a move can be the most
        physically demanding and challenging aspects. Our "Loading & Unloading Services" are designed to ensure a smooth
        transition for your belongings, regardless of the size or type of items being transported.
      </p>
      <h4 class="fw-bold mb-3 mt-3">Our Expertise:</h4>
      <p>
        <span class="fs-6 fw-bold">Efficient Loading:</span>Our experienced team is well-equipped to efficiently load
        your possessions into the transportation vehicle. From furniture and appliances to delicate items, we handle
        everything with care.
      </p>
      <p>
        <span class="fs-6 fw-bold">Safety First:</span>We prioritize the safety of your belongings. Our team uses the
        appropriate equipment and techniques to secure items during the loading process, minimizing the risk of damage.
      </p>
      <p>
        <span class="fs-6 fw-bold">Unloading with Care:</span>Upon reaching your destination, we carefully unload your
        items. We take extra precautions when handling delicate or fragile objects.
      </p>
      <p>
        <span class="fs-6 fw-bold">Heavy Lifting:</span> Heavy and bulky items are no problem for us. We have the skills
        and manpower to handle the most challenging items.
      </p>

      <h4 class="text-center">Why Choose Divakar Packers and Movers:</h4>
      <p>
        <span class="fs-6 fw-bold">Professional Team:</span> Our team is professional, skilled, and dedicated to
        ensuring the safe and secure handling of your possessions.
      </p>
      <p>
        <span class="fs-6 fw-bold">Safety Measures:</span> We implement strict safety measures to minimize the risk of
        damage during loading and unloading.
      </p>
      <p>
        <span class="fs-6 fw-bold">Custom Solutions:</span> We tailor our services to match your specific requirements,
        making your move as efficient as possible.
        Affordable Pricing: We offer competitive pricing for loading and unloading services, providing great value for
        our customers.
      </p>
      <p>
        <span class="fs-6 fw-bold">Customer Satisfaction:</span> Your satisfaction is our top priority. We aim to make
        your move hassle-free and problem-free.
      </p>
      <p>
        Whether you're moving within the city or across the country, our Loading & Unloading Services are an integral
        part of ensuring a successful and efficient relocation. With Divakar Packers and Movers, you can trust that your
        items are in capable hands, and we're committed to providing a seamless moving experience.
      </p>
      For inquiries or to schedule our Loading & Unloading Services, please reach out to us today.
    </div>
  </div>
  <div class="d-block d-md-block col-md-4">
    <section class="container-fluid">
      <p class="text-center fs-3 mb-2">Request Quote</p>
      <form class="border border-1 p-2" action="submit-quote" method="post">
        <div class="mb-1">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-1">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-1">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-1">
          <label for="moving_date" class="form-label">Moving Date</label>
          <input type="date" class="form-control" id="moving_date" name="moving_date">
        </div>
        <div class="mb-1">
          <label for="from_address" class="form-label">From Address</label>
          <input type="text" class="form-control" id="from_address" name="from_address">
        </div>
        <div class="mb-1">
          <label for="to_address" class="form-label">To address</label>
          <input type="text" class="form-control" id="to_address" name="to_address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if errors %}
      <div class="error">
        <ul class="list-group-item list-group-item-danger">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}