{% extends "layout.html"%}
{% block title %}
Divakar Packers and Movers | Office relocation service
{% endblock %}
{% block content %}
<div class="row">
  <div class="col col-md-8">
    <div class="container-fluid">
      <h2 class="text-center">Office Relocation Services</h2>
      <p>
        At Divakar Packers and Movers, we understand that an office relocation can be a complex and critical task,
        impacting your business operations. Our specialized "Office Relocation Services" are designed to minimize
        downtime and ensure a seamless transition for your office, whether you're moving within the city or across the
        country.
      </p>
      <h4 class="fw-bold mb-3 mt-3">Our Expertise:</h4>
      <p>
        <span class="fs-6 fw-bold">Efficient Planning:</span> We recognize that office relocations require meticulous
        planning. Our experienced team conducts a detailed pre-moving survey to create a customized moving plan tailored
        to your specific business needs.
      </p>
      <p><span class="fs-6 fw-bold">Minimal Disruption:</span> Our goal is to minimize disruption to your business
        operations. We work closely with you to establish a relocation schedule that best suits your organization's
        workflow.
      </p>
      <p><span class="fs-6 fw-bold">Professional Team:</span> Our trained professionals handle office equipment,
        furniture, and sensitive documents with care and precision, ensuring the safe transport of all items.
      </p>
      <p><span class="fs-6 fw-bold">Technology Handling:</span> We have the expertise to dismantle, pack, and transport
        sensitive technology and IT infrastructure, guaranteeing its safety and functionality at the new location.
      </p>
      <p>
        <span class="fs-6 fw-bold">Safe and Secure:</span> Your office assets are safe and secure with us. We use
        high-quality packing materials and secure loading and unloading procedures to protect your valuable items.
      </p>
      <h4 class="fw-bold mb-3 mt-3">Why Choose Divakar Packers and Movers:</h4>
      <p>
        <span class="fs-6 fw-bold">Experience:</span> With years of experience in office relocations, we've developed
        efficient solutions that ensure a smooth transition.
      </p>
      <p>
        <span class="fs-6 fw-bold">Customized Solutions:</span> We understand that every office is unique. Our solutions
        are customized to meet your specific needs and budget.
      </p>
      <p>
        <span class="fs-6 fw-bold">Professionalism:</span> Our team is professional, courteous, and focused on
        delivering a hassle-free move with the utmost care.
      </p>
      <p>
        <span class="fs-6 fw-bold">Minimal Downtime:</span> We prioritize minimizing downtime for your business,
        ensuring a seamless transition to your new office space.
      </p>
      <p>
        <span class="fs-6 fw-bold">Competitive Pricing:</span> We offer competitive pricing while maintaining the
        highest quality of service.
      </p>
      <p>
        When you choose Divakar Packers and Movers for your office relocation, you're choosing a reliable partner
        dedicated to ensuring a successful and efficient move. Let us handle the logistics, so you can focus on what
        matters most - the continuity of your business.
      </p>
      <p>
        For inquiries and to schedule your office relocation, please get in touch with us today.
      </p>
    </div>
  </div>
  <div class="d-block d-md-block col-md-4">
    <section class="container-fluid">
      <p class="text-center fs-3 mb-2">Request Quote</p>
      <form class="border border-1 p-2" action="submit-quote" method="post">
        <div class="mb-1">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-1">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-1">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-1">
          <label for="moving_date" class="form-label">Moving Date</label>
          <input type="date" class="form-control" id="moving_date" name="moving_date">
        </div>
        <div class="mb-1">
          <label for="from_address" class="form-label">From Address</label>
          <input type="text" class="form-control" id="from_address" name="from_address">
        </div>
        <div class="mb-1">
          <label for="to_address" class="form-label">To address</label>
          <input type="text" class="form-control" id="to_address" name="to_address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if errors %}
      <div class="error">
        <ul class="list-group-item list-group-item-danger">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}