{% extends "layout.html"%}
{% block title %}
Divakar Packers and Movers | Packing and Moving service
{% endblock %}
{% block content %}
<div class="row">
  <div class="col col-md-8">
    <div class="container-fluid">
      <h2 class="text-center">Packing & Moving Services</h2>
      <p>
        Welcome to Divakar Packers and Movers, your trusted partner for a seamless and stress-free relocation
        experience. Our "Packing & Moving Services" are designed to take the weight off your shoulders, ensuring that
        every item you cherish is moved to its new destination with care and precision.
      </p>
      <h4 class="fw-bole mb-3 mt-3">Our Expertise:</h4>
      <p>
        <span class="fs-6 fw-bold">Professional Packing:</span> Our skilled team uses the finest packing materials to
        protect your valuables. From fragile items to bulky furniture, we ensure each piece is secured for safe
        transportation.
      </p>
      <p>
        <span class="fs-6 fw-bold">Efficient Loading & Unloading:</span> Heavy lifting and careful handling are our
        specialties. Our trained professionals ensure that your belongings are loaded and unloaded with the utmost care,
        minimizing any risk of damage.
      </p>
      <p>
        <span class="fs-6 fw-bold">Secure Transportation:</span> We maintain a fleet of well-maintained vehicles
        designed to transport your goods safely and efficiently. Regardless of the size or type of item, we have the
        right vehicle for the job.
      </p>
      <p>
        <span class="fs-6 fw-bold">Tailored Solutions:</span> We begin with a detailed pre-moving survey to understand
        your unique requirements. This allows us to create a customized moving plan that addresses your specific needs.
      </p>
      <p>
        <span class="fs-6 fw-bold">Office Shifting:</span> For businesses, our office shifting services are designed to
        minimize downtime and disruptions during the transition to a new location.
      </p>
      <h4 class="fw-bole mb-3 mt-3">Why Choose Divakar Packers and Movers:</h4>
      <p>
        <span class="fs-6 fw-bold">Experience:</span> With years of experience, we have perfected our skills and
        developed efficient moving solutions to ensure a smooth transition.
      </p>
      <p>
        <span class="fs-6 fw-bold">Professional Team:</span> Our team is professional, courteous, and dedicated to the
        safety and security of your belongings.
      </p>
      <p>
        <span class="fs-6 fw-bold">Customized Services:</span> We recognize that every move is distinct. We offer
        tailored solutions that match your unique requirements and budget.
      </p>
      <p>
        <span class="fs-6 fw-bold">Affordable Pricing:</span> Our competitive pricing ensures that quality service
        doesn't come at an exorbitant cost.
      </p>
      <p>
        <span class="fs-6 fw-bold">Customer Satisfaction:</span> Your satisfaction is our priority. We go the extra mile
        to make your move stress-free and successful.
      </p>
      <p>
        When you choose Divakar Packers and Movers, you're selecting a trusted partner committed to providing reliable
        and cost-effective packing and moving solutions. Allow us to handle the heavy lifting and logistics, so you can
        focus on a smooth transition to your new destination.
      </p>
      <p>
        Contact us today to inquire about our services and schedule your next move. Your satisfaction is our guarantee.
      </p>
    </div>
  </div>
  <div class="d-block d-md-block col-md-4">
    <section class="container-fluid">
      <p class="text-center fs-3 mb-2">Request Quote</p>
      <form class="border border-1 p-2" action="submit-quote" method="post">
        <div class="mb-1">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-1">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-1">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-1">
          <label for="moving_date" class="form-label">Moving Date</label>
          <input type="date" class="form-control" id="moving_date" name="moving_date">
        </div>
        <div class="mb-1">
          <label for="from_address" class="form-label">From Address</label>
          <input type="text" class="form-control" id="from_address" name="from_address">
        </div>
        <div class="mb-1">
          <label for="to_address" class="form-label">To address</label>
          <input type="text" class="form-control" id="to_address" name="to_address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if errors %}
      <div class="error">
        <ul class="list-group-item list-group-item-danger">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}