{% extends "layout.html"%}
{% block title %}
Divakar Packers and Movers | Pre Moving Survey
{% endblock %}
{% block content %}
<div class="row">
  <div class="col col-md-8">
    <div class="container">
      <h2 class="text-center">Pre-Moving Survey</h2>
      <p>
        At Divakar Packers and Movers, our commitment to a successful and hassle-free relocation begins well before the
        moving day. Our "Pre-Moving Survey" service is designed to ensure that your move is meticulously planned,
        tailored to your unique requirements, and executed with precision.
      </p>
      <h4 class="fw-bold mb-3 mt-3">What to Expect:</h4>
      <p>
        <span class="fs-6 fw-bold">Thorough Assessment:</span> Our experienced team conducts a comprehensive assessment
        of your moving needs. We take the time to understand the nature and volume of items to be moved, the layout of
        your current and new locations, and any specific requests you may have.
      </p>
      <p>
        <span class="fs-6 fw-bold">Customized Plan:</span> Based on the survey, we create a customized moving plan that
        takes into account the unique aspects of your move. We determine the right packing materials, transportation
        needs, and manpower required to ensure a seamless transition.
      </p>
      <p>
        <span class="fs-6 fw-bold">Detailed Quotation:</span> Following the survey, we provide you with a detailed and
        transparent quotation, outlining the costs associated with your move. We believe in full transparency and no
        hidden fees.
      </p>
      <p>
        <span class="fs-6 fw-bold">Client Consultation:</span> We consult with you to address any questions, concerns,
        or specific requests you may have. Your satisfaction is our priority, and we aim to make your move as convenient
        as possible.
      </p>
      <h4 class="fw-bold mb-3 mt-3">Why Choose Divakar Packers and Movers:</h4>
      <p>
        <span class="fs-6 fw-bold">Experience:</span> With years of experience in the moving industry, we've perfected
        the art of successful relocations.
      </p>
      <p>
        <span class="fs-6 fw-bold">Professional Team:</span> Our team is not only skilled but also courteous and
        respectful of your belongings.
      </p>
      <p>
        <span class="fs-6 fw-bold">Custom Solutions:</span> We don't believe in one-size-fits-all solutions. Your move
        is unique, and we tailor our services to match your needs and budget.
      </p>
      <p>
        <span class="fs-6 fw-bold">Affordability:</span> We offer competitive pricing without compromising the quality
        of our services.
      </p>
      <p>
        <span class="fs-6 fw-bold">Customer-Centric:</span> Your satisfaction is our primary goal. We go above and
        beyond to ensure a stress-free moving experience.
      </p>
      <p>
        The "Pre-Moving Survey" is an essential step in our commitment to delivering a top-notch moving experience. By
        understanding your needs and crafting a personalized plan, we guarantee that your move will be efficient and
        worry-free.
      </p>
      <p>
        For inquiries or to schedule a pre-moving survey for your upcoming relocation, please don't hesitate to reach
        out to us. We're here to make your move as smooth as possible.
      </p>
    </div>
  </div>
  <div class="d-block d-md-block col-md-4">
    <section class="container-fluid">
      <p class="text-center fs-3 mb-2">Request Quote</p>
      <form class="border border-1 p-2" action="submit-quote" method="post">
        <div class="mb-1">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-1">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-1">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-1">
          <label for="moving_date" class="form-label">Moving Date</label>
          <input type="date" class="form-control" id="moving_date" name="moving_date">
        </div>
        <div class="mb-1">
          <label for="from_address" class="form-label">From Address</label>
          <input type="text" class="form-control" id="from_address" name="from_address">
        </div>
        <div class="mb-1">
          <label for="to_address" class="form-label">To address</label>
          <input type="text" class="form-control" id="to_address" name="to_address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if errors %}
      <div class="error">
        <ul class="list-group-item list-group-item-danger">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}