{% extends "layout.html"%}
{% block title %}
Divakar Packers and Movers | Transportation service
{% endblock %}
{% block content %}
<div class="row">
  <div class="col col-md-8">
    <div class="container">
      <h2 class="text-center">Transportation Services</h2>
      <p>
        At Divakar Packers and Movers, we recognize that safe and reliable transportation is the backbone of any
        successful relocation. Our "Transportation Services" are designed to handle the efficient and secure movement of
        your possessions to your new destination, regardless of the size or distance.
      </p>
      <h4 class="fw-bold mb-3 mt-3">Our Expertise:</h4>
      <p>
        <span class="fs-6 fw-bold">Comprehensive Fleet:</span> We maintain a diverse fleet of vehicles, including
        trucks, vans, and containers, to accommodate various load sizes and types. Your belongings are in capable hands.
      </p>
      <p>
        <span class="fs-6 fw-bold">Professionally Trained Drivers:</span> Our experienced and professionally trained
        drivers are committed to delivering your possessions safely and on time.
      </p>
      <p>
        <span class="fs-6 fw-bold">Safety Measures:</span> We implement strict safety measures to secure your items
        during transit, minimizing the risk of damage.
      </p>
      <p>
        <span class="fs-6 fw-bold">Customized Solutions:</span> We work closely with you to create customized
        transportation plans that align with your specific requirements.
      </p>
      <h4 class="fw-bold mb-3 mt-3">Why Choose Divakar Packers and Movers:</h4>
      <p>
        <span class="fs-6 fw-bold">Experienced Team:</span> Our team of transportation experts ensures that your items
        are handled efficiently and with utmost care.
      </p>
      <p>
        <span class="fs-6 fw-bold">Reliability:</span> We pride ourselves on providing reliable transportation services
        that you can depend on.
      </p>
      <p>
        <span class="fs-6 fw-bold">Efficiency:</span> We prioritize efficiency to make sure your belongings reach their
        destination as quickly as possible.
      </p>
      <p>
        <span class="fs-6 fw-bold">Affordability:</span> Our competitive pricing ensures that you receive great value
        for your transportation needs.
      </p>
      <p>
        <span class="fs-6 fw-bold">Customer Satisfaction:</span> Your satisfaction is our primary goal. We strive to
        provide a seamless and stress-free moving experience.
      </p>
      <p>
        Divakar Packers and Movers takes pride in offering a full spectrum of transportation services to suit your
        specific moving needs. Whether you're relocating to a new city or across the country, we have the resources and
        expertise to get your possessions there safely and efficiently.
      </p>
      <p>
        For inquiries or to schedule our Transportation Services, please get in touch with us today.
      </p>
    </div>
  </div>
  <div class="d-block d-md-block col-md-4">
    <section class="container-fluid">
      <p class="text-center fs-3 mb-2">Request Quote</p>
      <form class="border border-1 p-2" action="submit-quote" method="post">
        <div class="mb-1">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-1">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-1">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-1">
          <label for="moving_date" class="form-label">Moving Date</label>
          <input type="date" class="form-control" id="moving_date" name="moving_date">
        </div>
        <div class="mb-1">
          <label for="from_address" class="form-label">From Address</label>
          <input type="text" class="form-control" id="from_address" name="from_address">
        </div>
        <div class="mb-1">
          <label for="to_address" class="form-label">To address</label>
          <input type="text" class="form-control" id="to_address" name="to_address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if errors %}
      <div class="error">
        <ul class="list-group-item list-group-item-danger">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}