<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }
        .container {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            margin: 50px auto;
            padding: 20px;
            max-width: 600px;
        }
        h1 {
            color: #007bff;
        }
        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="container">
      <h1>New Contact Us request received</h1>
      <p>Dear Admin,</p>
      <p>We have received a new request for our services. Kindly review user request and connect with user.</p>
      <p>Details of request:</p>
      <ul>
        <li><strong>Name:</strong> {{ name }}</li>
        <li><strong>Email:</strong> {{ email }}</li>
        <li><strong>Message:</strong> {{ message }}</li>
      </ul>
      <br>
      <p>Thanks for your contineous support.</p>
    </div>
    </div>
</body>
</html>
