@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

#cssmenu, #cssmenu #head-mobile, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }



.card {
    padding-top: 2% ;
}

body {
    background-color: #f3f6fd;
    color: rgb(189, 196, 203)
}


hr {
    border-width: 3px
}

.container-fluid {
    position: relative;
    text-align: center;
    color: black;
  }
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }


.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-bottom: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card {
    display: block;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 4px;
    /* padding: 32px 24px; */
    margin: 12px; 
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: -16px;
      bottom: -18px;
      background:  #00ccff;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-out;
    }
  
    &:hover:before {
      transform: scale(21.5);
    }
  }
  
  .card:hover {
    p {
      transition: all 0.3s ease-out;
      color: rgba(255, 255, 255, 0.8);
    }
   h5 {
      transition: all 0.3s ease-out;
      color: #ffffff;
    }
  }
#lmc{
    border-color: black;
    border-width: 4px;
}