{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}"> 
</head>
<body>
<h1> this is about page</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ad ex obcaecati dignissimos doloribus explicabo maxime magnam fugiat facere voluptatibus dolores amet a nisi cum unde, corporis nobis voluptatum iusto.
Adipisci, perferendis quos? Repudiandae quidem voluptates assumenda ullam illum, necessitatibus nostrum quod similique optio sit doloremque enim, deserunt suscipit distinctio aspernatur obcaecati porro adipisci quasi? Alias labore sunt repellat accusamus.
Nesciunt consequuntur perferendis adipisci ut numquam nemo eos mollitia? Beatae quo maxime voluptatibus porro aliquam in. Earum voluptatum doloremque totam magni, perferendis explicabo illo iusto quo exercitationem id accusantium. Nam.
Ducimus itaque officia rerum perspiciatis sint minus voluptatum odio aliquam, voluptas repellendus sapiente, incidunt labore similique aspernatur et sit inventore, repudiandae temporibus impedit id voluptatem rem corporis! Et, impedit aspernatur.
Ratione dicta vel officia magni aliquid fugiat? Rerum consectetur temporibus sed velit omnis veniam cupiditate cum dicta nemo quo. Laboriosam architecto sapiente ipsa praesentium sit necessitatibus illum, molestias modi optio?
Iure soluta alias officia? Nostrum accusantium molestiae sapiente quas culpa saepe magnam voluptate, perspiciatis laborum, officia, enim in similique adipisci rem illum! Assumenda cumque vero nobis quasi ut perspiciatis ad!
Accusantium culpa explicabo iure laboriosam, temporibus magnam neque nisi exercitationem mollitia itaque, minima, reiciendis dignissimos nulla. Odio, et. Ullam, ab inventore exercitationem iusto dolor veniam architecto vero quae ipsum nam.
Sunt aliquid magnam natus quis, omnis minima reprehenderit tenetur culpa, officiis sed aliquam molestias tempore nesciunt, suscipit provident? Odit mollitia consectetur dolores pariatur nam necessitatibus harum ratione labore tenetur quisquam?
Modi unde autem in obcaecati voluptatem eaque repellat reiciendis earum deleniti laborum, aut fugit eligendi facilis eos est, maxime totam atque iusto voluptas quaerat aliquam illo! Sequi aperiam obcaecati cupiditate!
Inventore expedita, praesentium ullam laboriosam quidem consectetur. Pariatur aspernatur, facilis quasi ab distinctio cumque molestias eligendi, magnam, a fugiat ullam. Veritatis eos repellat itaque molestiae adipisci laborum, distinctio porro! Quo.
Recusandae, a sequi? Quam quia eveniet assumenda id, culpa atque possimus excepturi, fuga beatae itaque numquam, unde non aut distinctio omnis rerum quasi. Aliquid ratione dolorum fugiat rerum iusto perspiciatis.
Modi, facere vel. Commodi dolore ipsa, quis rem dolores non impedit nam sed voluptatem autem expedita quo incidunt magnam ducimus, illum vero id dicta corrupti possimus. Laboriosam aut officia esse.
Deleniti voluptates voluptate illo nostrum fugit mollitia eius nobis blanditiis! Est consectetur, sapiente eius assumenda, vero veritatis nihil sed dignissimos expedita repellendus velit obcaecati ea cum esse id laborum. Aliquid?
Rerum sed sit quidem dignissimos autem laudantium quaerat nemo esse. Culpa autem facere pariatur nihil exercitationem eos, rerum vero delectus modi provident corporis incidunt quia fugiat sint. Rerum, atque iure?
Tenetur consectetur recusandae corrupti dolores, voluptatem facilis harum vel sint quam soluta facere inventore odio expedita dolor doloribus possimus animi cupiditate sapiente autem modi ab? Error a sit earum. Doloribus.
Molestiae voluptates fuga aliquid quod aut, quia magni eos repellat temporibus libero quos dolore. Asperiores, neque unde repellendus ab aut saepe quia, explicabo earum voluptatibus distinctio beatae. Voluptate, fuga vel?
Modi sunt dolorem error neque mollitia. Voluptates ea quia quaerat adipisci commodi hic nobis tenetur vitae assumenda magnam officiis aspernatur optio dolorem impedit temporibus, aperiam quam minima id est voluptatem?
Modi minus itaque magni non quidem architecto quisquam necessitatibus nobis officiis, dolores laboriosam fugit explicabo facilis cupiditate nam deleniti hic, atque eum. Fugit quo nam eum commodi dolor quis tenetur.
Amet odit fuga quam assumenda incidunt? Sunt cupiditate reprehenderit voluptates vero iure maiores dolore dolores et corrupti sapiente at, illum unde soluta officia laboriosam quia eveniet. Quisquam necessitatibus perspiciatis temporibus?
Aliquam non nulla, officiis excepturi quisquam cupiditate possimus sapiente unde ad reprehenderit aspernatur et ut provident at eligendi, sint esse fugiat sequi! Maxime ipsam ut incidunt soluta quibusdam consequatur doloremque!
Ut facere repellat totam accusantium nesciunt explicabo non soluta. Voluptatibus nihil tempora at, culpa commodi harum in omnis natus vero ullam, deserunt perspiciatis consequuntur ipsam ducimus possimus molestiae dicta illo.
Assumenda ab ex temporibus soluta quis eos similique. Inventore itaque esse est tenetur sequi consequatur culpa mollitia rerum aliquam amet eius, porro dolorem odio! Architecto hic illum assumenda omnis dolor?
Repellendus cupiditate eum cum nisi cumque neque sapiente nulla asperiores nesciunt sed iusto soluta fuga voluptate minus dignissimos hic, iste architecto praesentium non aliquam nostrum quia delectus velit rem. Aperiam!
Consectetur et quod ut nam maxime suscipit commodi, quia delectus aliquam quam eaque iure necessitatibus at natus minus officia est, ex quidem? Odio iure inventore architecto aspernatur qui voluptates similique?
</body>
{% endblock  %}