{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='CSS/styles.css')}}"> 
<div class="row mb-3">
  <div class="col-lg-7 col-md-12 d-md-block justify-content-around text-start">
  <h2 class="text-center">About Us</h2>
  <p>
    At Divakar Packers and Movers, we take pride in providing top-notch relocation services that go beyond just moving belongings; we make your transition a seamless and stress-free experience. With years of experience in the industry, we have established ourselves as a trusted name in the world of relocation services. Our team of experts is dedicated to providing you with the best possible service and ensuring that you.
  </p>
  <h4>Our Commitment</h4>
  
  Our mission is to exceed the expectations of our customers, delivering quality services with a personal touch. We understand that moving can be a significant life event, and our dedicated team is here to guide you every step of the way. From packing and loading to transportation and unloading, we ensure the safety and security of your possessions throughout the journey.
  
  <h4 class="mt-2">Why Choose Us?</h4>
  
  <p>
    <span class="fs-5">Professional Expertise:</span> Our highly-trained and skilled team members are experts in handling all types of moves, be it residential or commercial. We ensure that your valuables arrive at their destination intact and on time.
  </p>
  
  <p>
    <span class="fs-5">Customer-Centric Approach:</span> Your satisfaction is our priority. We listen to your unique requirements and tailor our services to fit your needs, offering flexible solutions that make your move as efficient as possible.
  </p>
  
  <p>
    <span class="fs-5">Competitive Pricing:</span> We provide affordable moving solutions without compromising on quality. Our transparent pricing ensures you know what to expect every step of the way.
  </p>
  
  <p>
    <span class="fs-5">Safety First:</span> The safety of your belongings is paramount. We use high-quality packing materials and the latest technology to safeguard your possessions during the move.
  </p>
  
  <p>
    <span class="fs-5">Local and Long-Distance Moves:</span> Whether you're moving down the street or across the country, we have the expertise and resources to get you there safely. Our transportation solutions are tailored to your specific needs and budget.
  </p>
  
  <h4>Your Trusted Moving Partner</h4>
  
  Divakar Packers and Movers is not just a service provider; we're your partner in making your relocation journey smooth and hassle-free. From the first box packed to the last item unloaded, we're dedicated to ensuring your move is a success.
  
  Contact us today to learn more about our services and how we can assist you in your next move. Let us take the stress out of your relocation, allowing you to focus on the excitement of your new beginning.
</div>
<div class="d-none d-lg-block col-md-5 mt-2">
  <img src="{{url_for('static', filename='images/aboutimg.jpg')}}" alt="" class="img-fluid">
  <div class="bottom-right mr-3">
    <a href="https://www.freepik.com/free-photo/delivery-concept-portrait-handsome-african-american-delivery-man-courier-pushing-hand-truck-with-stack-boxes-isolated-grey-studio-background-copy-space_1289682.htm#page=2&query=packers%20and%20movers&position=9&from_view=keyword&track=ais">Image by benzoix</a> on Freepik
  </div>
</div>
{% endblock  %}