{% extends "layout.html"%}
{% block title %}
contact
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="fw fs-2 mb-4 text-start">Contact Us</h1>
    <div class="row mb-3">
        <div class="col-md-6 text-start">
            <h2>Contact Information</h2>
            <address>
                <strong>Divakar Packers and Movers</strong><br>
                D No. 28-5-587, Housing Board Colony<br>
                Anantapur, Andhra Pradesh 515001.
            </address>
            <p><strong>Email:</strong> info@divakarmovers.com</p>
            <p><strong>Phone:</strong> +1 (123) 456-7890</p>
        </div>
        <div class="col-md-6 text-start">
            <h2>Contact Form</h2>
            <form action="submit_form.php" method="post">
                <div class="form-group m-2">
                    <label class="mt-2" for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group m-2">
                    <label class="mt-2" for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group m-2">
                    <label class="mt-2"for="message">Message:</label>
                    <textarea class="form-control" id="message" name="message" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

    <!-- Add Bootstrap JS and jQuery links here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}