<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
</head>
<body>
  <nav class="navbar">
    <div class="logo"><img src="{{ url_for('static', filename='images/logo.jpeg') }}" style="height:28px"></div>
    <div class="menu-toggle">&#9776;</div>
    <ul class="menu">
      <li><a href="{{url_for('home')}}">Home</a></li>
      <li><a href="{{url_for('requestquote')}}">Request a Quote</a></li>
      <li><a href="{{url_for('services')}}">Services</a></li>
      <li><a href="{{url_for('about')}}">About</a></li>
      <li><a href="{{url_for('contact')}}">Contact</a></li>
    </ul>
</nav>
<script src="{{ url_for('static', filename='JS/script.js') }}" crossorigin="anonymous"></script>
</body>
</html>
