{% extends "layout.html"%}
{% block title %}
our services
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}"> 
    <div class="card-container mt-5">
      <h1 class="text-center mb-4">Our Services</h1>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card service-card">
            <img src="domestic-shifting.jpg" class="card-img-top" alt="Domestic Shifting">
            <div class="card-body">
              <h5 class="card-title">Domestic Shifting</h5>
              <p class="card-text">We provide reliable domestic shifting services to make your move hassle-free.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card service-card">
            <img src="domestic-shifting.jpg" class="card-img-top" alt="Office Shifting">
            <div class="card-body">
              <h5 class="card-title">Office Shifting</h5>
              <p class="card-text">We provide reliable domestic shifting services to make your move hassle-free.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card service-card">
            <img src="domestic-shifting.jpg" class="card-img-top" alt="Loading & Unloading">
            <div class="card-body">
              <h5 class="card-title">Loading & Unloading</h5>
              <p class="card-text">We provide reliable domestic shifting services to make your move hassle-free.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card service-card">
            <img src="domestic-shifting.jpg" class="card-img-top" alt="Packing & Moving">
            <div class="card-body">
              <h5 class="card-title">Packing & Moving</h5>
              <p class="card-text">We provide reliable domestic shifting services to make your move hassle-free.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card service-card">
            <img src="domestic-shifting.jpg" class="card-img-top" alt="Pre-Moving Survey">
            <div class="card-body">
              <h5 class="card-title">Pre-Moving Survey</h5>
              <p class="card-text">We provide reliable domestic shifting services to make your move hassle-free.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card service-card">
            <img src="domestic-shifting.jpg" class="card-img-top" alt="Transpotation">
            <div class="card-body">
              <h5 class="card-title">Transportation</h5>
              <p class="card-text">We provide reliable domestic shifting services to make your move hassle-free.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
{% endblock %}